#signin {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 15%;
    left: 25%;
    border: 2px solid #ffba00;
    padding: 2em;
}

input {
    display: block;
    margin-bottom: 1em;
}

input[type="text"] {
    width: calc(100% - 1em);
    padding: 0.5em;
}