/*
ELEMENT STYLE GUIDE:
display
margin
size
transfom/positioning
font
color
border
padding
text transforms
other
*/

:root {
    /*MARGINS*/
    --topMargin: 4em;
    --leftMargin: 16vw;
    --textBlockMargin: 6vw;
    --itemMargin: 10px;

    /*SIZES*/
    --asideWidth: 250px;
    --iconSize: 24px;
    --bigIconSize: 38px;

    /*TRANSFORMS/POSITIONS*/

    /*FONTS*/
    --mainFont: 'segoe-support', 'Segoe UI', 'Arial';

    /*FONT SIZES*/
    --textSize: 0.8em;
    --titleSize: 1.5em;

    /*LINE HEIGHT*/
    --textLineHeight: 1.5em;
    --spaceHBelow: 2em;
    --spacePBelow: 1em;

    /*COLOR PALLETTE*/
    --bgColor: #152a43;
    --secondaryColor: rgba(138, 138, 255, 0.2);
    --grey: #3f4a54;
    --noteColor: #aec3cd;
    --color: #F5F5F5;
    --yellow: #FFBB00;
    --orange: #F77D1B;
    --red: #EF3E36;
    --blue: #3185FC;
    --darkBlue: #3772FF;
    --blueGradient: linear-gradient(90deg, #3185FC 0%, #004cff 100%);

    /*BORDER*/
    --lightBorder: 2px solid var(--secondaryColor);

    /*PADDING*/
    --aside-left-padding: 0;
    --aside-right-padding: 0;
    --content-padding: 20px;

    /*FILTERS*/
    --glassMorph: blur(20px);
}

@font-face {
    font-family: 'segoe-support';
    src: url("/fonts/segoe-ui/Segoe\ UI.woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'segoe-support';
    src: url("/fonts/segoe-ui/Segoe\ UI\ Bold.woff");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'segoe-support';
    src: url("/fonts/segoe-ui/Segoe\ UI\ Italic.woff");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'segoe-support';
    src: url("/fonts/segoe-ui/Segoe\ UI\ Bold\ Italic.woff");
    font-style: italic;
    font-weight: bold;
}

@keyframes sink {
    from {box-shadow: 0 0 4px black, 0 0 0 black inset;}
    to {box-shadow: 0 0 0 black, 0 0 8px black inset;}
}

@keyframes load {
	0% {clip-path: circle(calc(1em + 2px) at 1em 50%);}
	25% {clip-path: circle(50% at 50% 50%);}
	50% {clip-path: circle(calc(1em + 2px) at calc(100% - 1em) 50%);}
	75% {clip-path: circle(50% at 50% 50%);}
	100% {clip-path: circle(calc(1em + 2px) at 1em 50%);}
}


/*GENERAL*/

body {
    margin: 0;
    box-sizing: border-box;

    font-size: 20px;
    font-family: var(--mainFont);

    background-color: var(--bgColor);
    color: var(--color);

    overflow: hidden;
}

#grid {
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: var(--asideWidth) 1fr;
    grid-template-rows: 100vh;
    margin: 0;
}

#sidebar {
    display: grid;
    box-sizing: border-box;
    z-index: 2;
    font-size: 14px;
    background-color: var(--bgColor);
    padding: 1em;
    border-right: var(--lightBorder);

    grid-area: sidebar;
    grid-template-rows: auto repeat(2, 50px);
    align-content: start;
    grid-gap: 0.5em 0;
}

#sidebar > a {
    display: grid;
    box-sizing: border-box;
    align-content: center;
    padding: var(--itemMargin);
    color: var(--color);
    border-radius: 5px;
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.2s;
}

#sidebar > a:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1080px) {
    #grid {
        grid-template-areas: "sidebar" "content";
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
    }
    #sidebar {
        position: fixed;
        width: 100%;
        margin: 0;
        justify-content: center;
        align-content: start;
        text-align: center;
        border-bottom: var(--lightBorder);

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0.5em 0.25em;
    }
    #sidebar > a {
        justify-self: center;
        width: 100%;
        border: var(--lightBorder);
    }
  }

.loader {
	display: block;
    margin: 0px var(--content-padding);
	padding: 0.5em;
	text-align: center;
    font-weight: bold;
	border-radius: 2em;
    background-color: var(--secondaryColor);
	border: none;
	overflow: hidden;
	animation: load 3s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

.content-box {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: var(--content-padding);
}

.power {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--secondaryColor);
    backdrop-filter: var(--glassMorph);
    border-radius: 10px;
    padding: var(--content-padding);
}

.unpower {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--secondaryColor);
    backdrop-filter: brightness(50%);
    border-radius: 10px;
    padding: var(--content-padding);
}

.outline {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--bgColor);
    border: var(--lightBorder);
    border-radius: 10px;
    padding: var(--content-padding);
}

.plain {
    margin: var(--itemMargin);
    background-color: inherit;
    color: var(--color);
    border: none;
    padding: var(--itemMargin);
}

.light {
    font-weight: light;
}

.highlight {
    color: var(--yellow);
}

.note {
    color: var(--noteColor);
    font-size: 0.9em;
    font-weight: lighter;
    font-style: italic;
    /* transform: skewX(-3deg); */
}

.honortable {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0.5em;
    grid-auto-rows: minmax(100px, auto);
}

.patchimage {
    width: auto;
    height: 100px;
    border: 3px dashed var(--orange);
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

.logobutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--iconSize);
    height: var(--iconSize);
    font-size: var(--iconSize);
    padding: 5px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    border: var(--lightBorder);
}

.biglogobutton {
    display: flex;
    align-items: center;
    justify-content: center;
    --size: calc(var(--bigIconSize) * 1.75);
    width: var(--size);
    height: var(--size);
    font-size: var(--bigIconSize);
    padding: calc(var(--bigIconSize) * 0.5);
    background-color: var(--secondaryColor);
    border-radius: 10px;
}

.button-like {
    display: inline-block;
    background-color: var(--blue);
    color: var(--color);
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    transition: 0.2s;
}

.button-like:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.3);
}

.button-like:active {
    transform: none;
    filter: brightness(0.8);
    box-shadow: 0 0 6px black;
}

h1 {
    display: block;
    margin-bottom: var(--spaceHBelow);
    text-align: center;
    color: var(--color);
}

h1::after {
    content: '';
    display: block;
    margin: auto;
    width: 3em;
    height: 0;
    border-bottom: 6px solid var(--yellow);
    border-radius: 5px;
}

.underline::after {
    content: '';
    display: block;
    margin: auto;
    width: 3em;
    height: 0;
    border-bottom: 6px solid var(--yellow);
    border-radius: 5px;
}

h2 {
    display: block;
    margin: 0;
    margin-top: var(--spaceHBelow);
    text-align: left;
    color: var(--color);
}

h2::before {
    content: '';
    display: block;
    width: 3em;
    height: 0;
    border-bottom: 6px solid var(--yellow);
    border-radius: 2px 6px 0 0;

}

.above-accent::before {
    content: '';
    display: block;
    width: 3em;
    height: 0;
    border-bottom: 6px solid var(--yellow);
    border-radius: 2px 6px 0 0;
}

p {
    display: block;
    margin: 0;
    margin-bottom: var(--spacePBelow);
    font-size: var(--textSize);
    line-height: var(--textLineHeight);
}

button {
    display: inline-block;
    background-color: var(--blue);
    color: var(--color);
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    transition: 0.2s;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: none;
    filter: brightness(0.8);
    box-shadow: 0 0 6px black;
}

@keyframes slide {
    0% {opacity: 0.3; transform: translateX(0) translateY(1.6em); width: 1em;}
    30% {opacity: 1; transform: translateX(-100%) translateY(1.1em); width: 3em;}
    100% {transform: translateX(calc(-100% - 1em)) translateY(1.3em); width: 1em;}
}

form {
    margin: 0;
    padding: 0;
}

input[type=text] {
  margin: var(--itemMargin);
  background-color: var(--bgColor);
  color: var(--color);
  font-weight: bold;
  width: 65%;
  border: var(--lightBorder);
  border-radius: calc((2.4em + (0.5em * 2)) / 2);
  outline: none;
  padding: 1.2em 2em;
}

/*CLASSES*/
#content {
    overflow-y: scroll;
    padding: var(--textBlockMargin);

    display: grid;
    grid-area: content;
}

.button {
    color: var(--color);
    border-radius: 5px;
    padding: 1em;
    font-size: var(--textSize);
    margin: var(--itemMargin);
    transition: 0.2s;
}

.primary {
    background-color: var(--blue);
    border: none;
}

.secondary {
    background-color: var(--secondaryColor);
    border: none;
}

.above-highlight {
    border-top: 10px solid var(--yellow);
}

.title {
    font-size: var(--titleSize);
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

