.modal {
    position: fixed;
    display: block;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(2rem);   
}

.modal-content {
    height: fit-content;
    margin: 10%;
    padding: var(--content-padding);
    background-color: var(--bgColor);
    border-radius: 10px;
    border: var(--lightBorder);
}

.close-button {
    background-color: GG;
    border-radius: 10px;
    border: var(--lightBorder);
}