@import "@/assets/general.css";
.tooltip {
    position: absolute;
    display: flex;
    left: 16vw;
    transform: translateY(calc((1em + 10px) * -1.5));
    background-color: var(--darkBlue);
    padding: 20px;
    border-radius: 10px;
    white-space: nowrap;
    visibility: hidden;
}
.tooltip::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -10px;
    height: 0;
    width: 0;
    font-size: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent var(--darkBlue) transparent transparent;
}
.tooltip:hover {
    visibility: visible;
}